.sidebar {
	padding: 0 22px;
}

.topMenuItem {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 22px;

	padding: 10px;
}

.title {
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
}

.subtitle {
	border: none;
	outline: none;
  text-align: left;
  background: none;
  font-size: 16px;

	font-weight: 500;
}

.subtitle:hover {
	color: var(--primary-hover);
}

.secondMenuItem {
	display: none;

	margin-left: 12px;
	padding-top: 20px;
	padding-left: 32px;

	cursor: pointer;

	border-left: 1px solid #DFDFDF;
	grid-column: span 2;
}

.secondMenuItemOpen {
  display: grid;
}

.listCategoryCourses {
	display: grid;
	overflow: hidden;

	max-height: 0;

	transition: all 500ms;

	opacity: 0;
	row-gap: 5px;
}

.openCategoryCourses {
	max-height: 300px;
  padding-top: 5px;

	opacity: 100;
}

.thirdMenuItem {
	font-size: 14px;
  font-weight: 700;
  color: #777777;
}

.thirdMenuItem:hover {
	color: var(--primary-hover);
}

.title:hover {
	color: var(--primary-hover);
}

.active {
	color: var(--primary-hover);
	fill: var(--primary-hover);
}

.active svg{
	fill: var(--primary-hover);
}
